.pop{
	cursor:pointer;
}
.popovercontent{
	font-size:10pt;
	font-weight:normal;
	line-height:20px;
	text-align:justify;
}
.tipping{
	cursor:pointer;
}
.split{
	width:100%;
	border-bottom:#ccc 1px solid;
}
.noteamerror{
	background-image:url('http://fc09.deviantart.net/fs50/f/2009/259/0/f/IT_Crowd___Teamwork_by_surlana.jpg');
	background-position:right,bottom;
	background-repeat:no-repeat;
	height: 820px;
}

@-webkit-keyframes pulse {
    0% { color: #FFF;}
    50% { color: #ffec45;}
    100% { color: #FFF;}
}

.lightson {
    -webkit-transition: background 1s linear;
}
.lightson:hover {
    color:    #88B1DA;
    -webkit-transition: background 1s linear;
    -webkit-animation: pulse 2s linear infinite;
}
